.navbar{
    height: 10vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 15px;
    padding-top: 10px;
    border-bottom: 1px solid black;
    
}
.nav-link{
    padding-inline: 10px;
    text-decoration: none;
    font-weight: 600;
}
.active-link{
    text-decoration: underline;
    text-decoration-color: red;
    height:4px;
}

.btn-btn{
    padding-top: 10px;
}
.btn-btn button{
    border:none;
    background-color: #395852;
    color:hsl(0, 0%, 100%);
    padding: 8px 12px;
    border-radius: 5px;
}
