.navbar{
    height: 10vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-inline: 15px;
    padding-top: 10px;
    border-bottom: 1px solid black;
    
}
.nav-link{
    display:flex;
    gap: 20px;
    padding-right: 20px;
}
.nav-link li{
    list-style: none;
    color:  #16382f;
    font-weight:600;
}
.nav-link li:first-child{
    border-bottom: 2px solid #d9480f;
}
.btn-btn{
    padding-top: 10px;
}
.btn-btn button{
    border:none;
    background-color: #395852;
    color:hsl(0, 0%, 100%);
    padding: 8px 12px;
    border-radius: 5px;
}
